<label>Tinggi</label>
<input type="text" id="tinggi"> m<br>
<label>Berat</label>
<input type="text" id="berat"> kg<br>
<button id="kira" onclick="kira()">KIRA</button><br>

<hr>
<label>BMI</label>
<input type="text" id="bmi"> <!-- akan memaparkan nilai BMI -->

<script>
    function kira() {
        // mendapatkan data dan membina FormData
        let myFormData = new FormData;
        myFormData.append('tinggi', document.getElementById('tinggi').value);
        myFormData.append('berat', document.getElementById('berat').value);

        // menghantar data ke bmi.php
        fetch('bmi.php', {
            method: 'POST',
            body: myFormData,
        })
        .then(response => response.json()) // memformatkan data ke JSON
        .then(data => { // memproses data yang diterima
            kemaskini_bmi(data)
        })
        .catch((error) => { // menangani ralat
            alert('Masalah komunikasi')
        });
    }

    // fungsi untuk mengemaskini halaman
    function kemaskini_bmi(data) {
        document.getElementById('bmi').value = data.bmi;
    }

</script>











